.env
.venv/
__pycache__/
*.pyc

backend-server.log
backend-server.err.log
frontend/frontend-server.log
frontend/frontend-server.err.log

data/*
!data/demo-budget.csv
!data/.gitkeep

frontend/node_modules/
frontend/dist/

.DS_Store
